/**
 * Tables - Nordic Cool 3.0
*/

@import url("_variables.less");
@import url("_mixins.less");

.table {
	border-width: 1px;
	border-style: solid;
	border-color: @data-grid-border-color;
	border-collapse: separate;
	.box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
	}

.table > tbody  { background-color: @data-grid-row-even-bg-color; }

.table > tbody > tr:nth-child(2n+1) > td,
.table > tbody > tr:nth-child(2n+1) > th { background-color: @data-grid-row-odd-bg-color; }

.table > thead > tr > th,
.table > thead > tr > td { padding: 11px 10px 10px; }

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > td { padding: 10px 10px 9px; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
	font-weight: @font-weight-base;
	line-height: 120%;
	vertical-align: middle;
	}

.table > thead > tr > th,
.table > tfoot > tr > th { border-bottom: 1px solid #d6d6d6; }

.table > tbody > tr > th {
	border-top: 0px;
	border-bottom: 0px;
	}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-top: 0px;
	border-bottom: 0px;
	line-height: 120%;
	vertical-align: middle;
	}

.table > thead > tr {
	.linear-gradient(#fcfcfc; #fcfcfc 0%, #f3f3f3 75%, #f9f9f9 100%);

	> th {
		border-left: 1px solid #e7e7e7;
		color: @blue-color;
		font-weight: @font-weight-base;
		}
	}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
	border-left: 1px dotted @disabled-border;
	&:first-child { border-left: 0px; }
	}

.table > tbody > tr:first-child > td,
.table > tbody > tr:first-child > th { .box-shadow(0 1px 0 rgba(0, 0, 0, 0.05) inset); }


/* hover state */
.table.table-hover > tbody > tr:hover > td,
.table.table-hover > tbody > tr:hover > th,
.table.table-hover > tfoot > tr:hover > td,
.table.table-hover > tfoot > tr:hover > th,
.table.table-sorter > tbody > tr:hover > td,
.table.table-sorter > tbody > tr:hover > th,
.table.table-sorter > tfoot > tr:hover > td,
.table.table-sorter > tfoot > tr:hover > th {
	background: @data-grid-row-hover-bg-color;
	}

.table.table-hover.table-active > tbody > tr:hover > td,
.table.table-hover.table-active > tbody > tr:hover > th,
.table.table-hover.table-active > tfoot > tr:hover > td,
.table.table-hover.table-active > tfoot > tr:hover > th,
.table.table-sorter > tbody > tr:hover > td,
.table.table-sorter > tbody > tr:hover > th,
.table.table-sorter > tfoot > tr:hover > td,
.table.table-sorter > tfoot > tr:hover > th {
	cursor: pointer;
}

.table.table-hover > thead > tr > td:hover,
.table.table-active > thead > tr > td:hover,
.table.table-sorter > thead > tr > td:hover,
.table.table-sorter > thead > tr > th:hover {
	cursor: pointer;
	.blue-gradient-hover();
	}


/* active state */
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th,
.table.table-active > tbody > tr.active > td,
.table.table-active > tbody > tr.active > th,
.table.table-active > tfoot > tr.active > td,
.table.table-active > tfoot > tr.active > th,
.table.table-sorter > tbody > tr.active > td,
.table.table-sorter > tbody > tr.active > th,
.table.table-sorter > tfoot > tr.active > td,
.table.table-sorter > tfoot > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table.table-active > tbody > tr.pressed > td,
.table.table-active > tbody > tr.pressed > th,
.table.table-active > tfoot > tr.pressed > td,
.table.table-active > tfoot > tr.pressed > th,
.table.table-sorter > tbody > tr.pressed > td,
.table.table-sorter > tbody > tr.pressed > th,
.table.table-sorter > tfoot > tr.pressed > td,
.table.table-sorter > tfoot > tr.pressed > th {
	// .linear-gradient(#e6e6e6; #e6e6e6 0%, #fafafa 9%, #fafafa 96%, #dcdcdc 100%);
	// .box-shadow(@data-grid-row-active-border-color);
	background: @data-grid-row-active-bg-color;
	.box-shadow(@data-grid-row-active-border-color);
	}

.table > tbody > tr.active:last-child > td,
.table > tbody > tr.active:last-child > th,
.table > tfoot > tr.active:last-child > td,
.table > tfoot > tr.active:last-child > th,
.table.table-active > tbody > tr.active:last-child > td,
.table.table-active > tbody > tr.active:last-child > th,
.table.table-active > tfoot > tr.active:last-child > td,
.table.table-active > tfoot > tr.active:last-child > th,
.table.table-sorter > tbody > tr.active:last-child > td,
.table.table-sorter > tbody > tr.active:last-child > th,
.table.table-sorter > tfoot > tr.active:last-child > td,
.table.table-sorter > tfoot > tr.active:last-child > th,
.table > tbody > tr:last-child > td.active, 
.table > tbody > tr:last-child > th.active, 
.table > tfoot > tr:last-child > td.active,
.table > tfoot > tr:last-child > th.active { .box-shadow(0 1px 0 #d4d4d4 inset); }

.table:not(.table-grey) > tbody > tr.active,
.table:not(.table-grey) > tfoot > tr.active,
.table.table-active:not(.table-grey) > tbody > tr.active,
.table.table-active:not(.table-grey) > tfoot > tr.active,
.table.table-sorter:not(.table-grey) > tbody > tr.active,
.table.table-sorter:not(.table-grey) > tfoot > tr.active {
	position: relative;

	> th:first-child:before,
	> td:first-child:before {
		content: "";
		position: absolute;
		top: 0;
		left: -1px;
		width: 6px;
		height: 100%;
		background: #4d8400;
		}
	}

.table:not(.table-grey) > tbody > tr.active,
.table:not(.table-grey) > tfoot > tr.active,
.table.table-active:not(.table-grey) > tbody > tr.active,
.table.table-active:not(.table-grey) > tfoot > tr.active,
.table.table-sorter:not(.table-grey) > tbody > tr.active,
.table.table-sorter:not(.table-grey) > tfoot > tr.active {
	> th:first-child,
	> td:first-child { position: relative; }
	}

.table:not(.table-grey) > tbody > tr > td.active,
.table:not(.table-grey) > tbody > tr > th.active,
.table:not(.table-grey) > tfoot > tr > td.active,
.table:not(.table-grey) > tfoot > tr > th.active,
.table.table-active:not(.table-grey) > tbody > tr > td.active,
.table.table-active:not(.table-grey) > tbody > tr > th.active,
.table.table-active:not(.table-grey) > tfoot > tr > td.active,
.table.table-active:not(.table-grey) > tfoot > tr > th.active,
.table.table-sorter:not(.table-grey) > tbody > tr > td.active,
.table.table-sorter:not(.table-grey) > tbody > tr > th.active,
.table.table-sorter:not(.table-grey) > tfoot > tr > td.active,
.table.table-sorter:not(.table-grey) > tfoot > tr > th.active,
.table.table-active:not(.table-grey) > tbody > tr:active > td:first-child,
.table.table-active:not(.table-grey) > tbody > tr:active > th:first-child,
.table.table-active:not(.table-grey) > tfoot > tr:active > td:first-child,
.table.table-active:not(.table-grey) > tfoot > tr:active > th:first-child,
.table.table-sorter:not(.table-grey) > tbody > tr:active > td:first-child,
.table.table-sorter:not(.table-grey) > tbody > tr:active > th:first-child,
.table.table-sorter:not(.table-grey) > tfoot > tr:active > td:first-child,
.table.table-sorter:not(.table-grey) > tfoot > tr:active > th:first-child {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -1px;
		width: 6px;
		height: 100%;
		background: #4d8400;
		}
	}

.table.table-active > tbody > tr.pressed:last-child > td,
.table.table-active > tbody > tr.pressed:last-child > th,
.table.table-active > tfoot > tr.pressed:last-child > td,
.table.table-active > tfoot > tr.pressed:last-child > th,
.table.table-sorter > tbody > tr.pressed:last-child > td,
.table.table-sorter > tbody > tr.pressed:last-child > th,
.table.table-sorter > tfoot > tr.pressed:last-child > td,
.table.table-sorter > tfoot > tr.pressed:last-child > th { .box-shadow(0px 1px 0 #e2e2e2 inset); }

.table:not(.table-grey) > tbody > tr.pressed,
.table:not(.table-grey) > tfoot > tr.pressed,
.table.table-active:not(.table-grey) > tbody > tr.pressed,
.table.table-active:not(.table-grey) > tfoot > tr.pressed,
.table.table-sorter:not(.table-grey) > tbody > tr.pressed,
.table.table-sorter:not(.table-grey) > tfoot > tr.pressed {
	position: relative;
	left: 0;
	// .box-shadow(@data-grid-row-pressed-box-shadow);
	/*> th:first-child:before,
	> td:first-child:before {
		background: #4d8400;
		content: "";
		height: 100%;
		left: -1px;
		position: absolute;
		top: 0;
		width: 6px;
		} */
	}

.table > tbody > tr.active:hover > td,
.table > tbody > tr.active:hover > th,
.table > tfoot > tr.active:hover > td,
.table > tfoot > tr.active:hover > th,
.table.table-active > tbody > tr.active:hover > td,
.table.table-active > tbody > tr.active:hover > th,
.table.table-active > tfoot > tr.active:hover > td,
.table.table-active > tfoot > tr.active:hover > th,
.table.table-sorter > tbody > tr.active:hover > td,
.table.table-sorter > tbody > tr.active:hover > th,
.table.table-sorter > tfoot > tr.active:hover > td,
.table.table-sorter > tfoot > tr.active:hover > th,
.table > tbody > tr:hover > td.active,
.table > tbody > tr:hover > th.active,
.table > tfoot > tr:hover > td.active,
.table > tfoot > tr:hover > th.active { cursor: pointer; }

.table.table-active > thead > tr > td.pressed,
// .table.table-active > thead > tr > th.pressed,
.table.table-sorter > thead > tr > td.pressed,
.table.table-sorter > thead > tr > th.pressed,
.table.table-active > thead > tr > td.pressed:hover,
// .table.table-active > thead > tr > th.pressed:hover,
.table.table-sorter > thead > tr > td.pressed:hover,
.table.table-sorter > thead > tr > th.pressed:hover {
	background: #f0f0f0;
	color: @base-color;
	}


/* Grey table */
.table.table-grey {
	border-color: #d3d3d3;
	.box-shadow(none);

	tbody { background: #f0f0f0; }
	}

.table.table-grey > tbody > tr:nth-child(2n+1) > td,
.table.table-grey > tbody > tr:nth-child(2n+1) > th { background-color: #f5f5f5; }

.table.table-grey > thead > tr > th,
.table.table-grey.table-hover > thead > tr > td:hover,
.table.table-grey.table-hover > thead > tr > th:hover,
.table.table-grey.table-sorter > thead > tr > td:hover,
.table.table-grey.table-sorter > thead > tr > th:hover,
.table.table-grey.table-active > thead > tr > td.active,
.table.table-grey.table-active > thead > tr > th.active {
	color: #1b7bb3;
	background: #f5f5f5;
	}

.table.table-grey > tbody > tr:first-child > td,
.table.table-grey > tbody > tr:first-child > th { .box-shadow(none); }


/* hover state */
.table.table-grey.table-hover > tbody > tr:hover > th,
.table.table-grey.table-hover > tbody > tr:hover > td,
.table.table-grey.table-hover > tfoot > tr:hover > th,
.table.table-grey.table-hover > tfoot > tr:hover > td,
.table.table-grey.table-sorter > tbody > tr:hover > th,
.table.table-grey.table-sorter > tbody > tr:hover > td,
.table.table-grey.table-sorter > tfoot > tr:hover > th,
.table.table-grey.table-sorter > tfoot > tr:hover > td { background-color: #ccebff; }

// .table.table-grey.table-hover > thead > tr > th:hover,
.table.table-grey.table-hover > thead > tr > td:hover,
.table.table-grey.table-sorter > thead > tr > th:hover,
.table.table-grey.table-sorter > thead > tr > td:hover {
	cursor: pointer;
	.blue-gradient-hover();
	}


/* active state */
.table.table-grey > tbody > tr.active > td,
.table.table-grey > tbody > tr.active > th,
.table.table-grey > tfoot > tr.active > td,
.table.table-grey > tfoot > tr.active > th,
.table.table-grey > tbody > tr.active:hover > td,
.table.table-grey > tbody > tr.active:hover > th,
.table.table-grey > tfoot > tr.active:hover > td,
.table.table-grey > tfoot > tr.active:hover > th,
.table.table-grey.table-active > tbody > tr.active > td,
.table.table-grey.table-active > tbody > tr.active > th,
.table.table-grey.table-active > tfoot > tr.active > td,
.table.table-grey.table-active > tfoot > tr.active > th,
.table.table-grey.table-active > tbody > tr.active:hover > td,
.table.table-grey.table-active > tbody > tr.active:hover > th,
.table.table-grey.table-active > tfoot > tr.active:hover > td,
.table.table-grey.table-active > tfoot > tr.active:hover > th,
.table.table-grey > tbody > tr > td.active,
.table.table-grey > tbody > tr > th.active,
.table.table-grey > tfoot > tr > td.active,
.table.table-grey > tfoot > tr > th.active,
.table.table-grey > tbody > tr:hover > td.active,
.table.table-grey > tbody > tr:hover > th.active,
.table.table-grey > tfoot > tr:hover > td.active,
.table.table-grey > tfoot > tr:hover > th.active,
.table.table-grey.table-sorter > tbody > tr.pressed > td,
.table.table-grey.table-sorter > tbody > tr.pressed > th,
.table.table-grey.table-sorter > tfoot > tr.pressed > td,
.table.table-grey.table-sorter > tfoot > tr.pressed > th,
.table.table-grey.table-active > tbody > tr.pressed > td,
.table.table-grey.table-active > tbody > tr.pressed > th,
.table.table-grey.table-active > tfoot > tr.pressed > td,
.table.table-grey.table-active > tfoot > tr.pressed > th {
	border-right: 1px solid #0974b3;
	border-left: 0px;
	color: #fff;
	background: #0974b3;
	.box-shadow(-1px 0 #0974b3);
	}

.table.table-grey.table-active > thead > tr > td.pressed,
// .table.table-grey.table-active > thead > tr > th.pressed,
// .table.table-grey > thead > tr > th.pressed,
.table.table-grey > thead > tr > td.pressed {
	background: #e0e0e0;
	color: @base-color;
	}


/* Disabled table */
.table.disabled {
	border-color: @disabled-border;
	> tbody { background: @disabled-bg; }

	> tbody > tr:nth-child(2n+1) > td,
	> tbody > tr:nth-child(2n+1) > th { background: transparent; }

	> tbody > tr:not(:last-child) > th, > tbody > tr:not(:last-child) > td, > tfoot > tr:not(:last-child) > th, > tfoot > tr:not(:last-child) > td { border-bottom: 1px solid @disabled-border; }

	> tbody > tr > th, > tbody > tr > td, > tfoot > tr > th, > tfoot > tr > td { color: @disabled-color; }
	}


/* Condensed table */
.table.table-condensed > thead > tr > th,
.table.table-condensed > tbody > tr > th,
.table.table-condensed > tfoot > tr > th {
	padding: 7px 5px 6px;
	line-height: 100%;
	}

.table.table-condensed > thead > tr > td,
.table.table-condensed > tbody > tr > td,
.table.table-condensed > tfoot > tr > td {
	padding: 7px 5px 6px;
	line-height: 100%;
	}
