/* Webfont: PFBeauSansPro-XThin */@font-face {
    font-family: 'PFBeauSansProXThin';
    src: url('PFBeauSansPro-XThin.eot'); /* IE9 Compat Modes */
    src: url('PFBeauSansPro-XThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PFBeauSansPro-XThin.woff') format('woff'), /* Modern Browsers */
         url('PFBeauSansPro-XThin.ttf') format('truetype'); /* Safari, Android, iOS */
         url('PFBeauSansPro-XThin.svg#PFBeauSansPro-XThin') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

