/* Webfont: PFBeauSansPro-Regular */@font-face {
    font-family: 'PFBeauSansPro';
    src: url('PFBeauSansPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PFBeauSansPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('PFBeauSansPro-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
         url('PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

