/* Webfont: PFBeauSansPro-Light */@font-face {
    font-family: 'PFBeauSansProLight';
    src: url('PFBeauSansPro-Light.eot'); /* IE9 Compat Modes */
    src: url('PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PFBeauSansPro-Light.woff') format('woff'), /* Modern Browsers */
         url('PFBeauSansPro-Light.ttf') format('truetype'); /* Safari, Android, iOS */
         url('PFBeauSansPro-Light.svg#PFBeauSansPro-Light') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

